NEXT_PUBLIC_SUPABASE_URL=https://cjiawqhvxhapwmgccbor.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNqaWF3cWh2eGhhcHdtZ2NjYm9yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4OTA4MzksImV4cCI6MjEwMzQ2NjgzOX0.gv0cmEKylW_GwGhARRLBp4z1vLajrT4NoQ9REQoey9k
